<!-- <div *ngIf="isLogged">
  
</div>
<div style="margin-top: 2rem;" *ngIf="isCreated">
  <div class="titulo">
    <h3>Agregar novedad</h3>
  </div>
  <form class="container-create" action="">
    <div class="form-control">
      <label>DNI del docente</label>
      <input class="form-input" type="text" name="" id="dni">
    </div>
    <div class="form-control">
      <label for="">Fecha de Inicio</label>

      <input class="form-input" type="date" name="newfechaInicio" id="newfechaInicio"
        (change)="SendDataonChange($event)">
    </div>
    <div class="form-control">
      <label for="">Fecha de Fin</label>
      <input class="form-input" type="date" name="newfechaFin" id="newfechaFin">
    </div>
    <div class="form-control">
      <label for="">Tipo de licencia</label>
      <select class="form-input" name="licencia">
        <option value="r">Seleccionar licencia</option>
        <option value="1">6 III A - Licencia por Enfermedad</option>
        <option value="1">6 IV D - Articulo autorizado</option>
      </select>
    </div>
    <div class="form-control">
      <label for="">Observaciones</label>
      <input class="form-input" type="text">
    </div>
    <div class="form-control">
      <button class="form-button" type="submit">Agregar</button>
      <button class="form-button" (click)="showCreateForm()">Cancelar</button>
    </div>

  </form>
</div> -->
