<div class="container-header">

    <h2 mat-dialog-title>{{operation}}Persona</h2>
    <mat-spinner *ngIf="loading" [diameter]="25"></mat-spinner>
</div>
<form [formGroup]="docenteForm" (ngSubmit)="addEditDocente()">
    <mat-dialog-content>
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>DNI</mat-label>
            <input pattern="^\d+$" formControlName="dni" matInput placeholder="DNI" autocomplete="off">
            <mat-error *ngIf="docenteForm.get('dni')?.hasError('maxlength')">
                El dni no debe contener más de 8 dígitos
            </mat-error>
            <mat-error *ngIf="docenteForm.get('dni')?.hasError('pattern')">
                Solo se aceptan numeros
            </mat-error>
        </mat-form-field>
  
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input formControlName="apellido" matInput placeholder="apellido" autocomplete="off">
        </mat-form-field>
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input formControlName="nombre" matInput placeholder="nombre" autocomplete="off">
        </mat-form-field>
        <!-- Calendario -->
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input formControlName="fechaNacimiento" matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>Telefono</mat-label>
            <input pattern="^\d+$" formControlName="telefono" matInput placeholder="Telefono" autocomplete="off">
            <mat-error *ngIf="docenteForm.get('telefono')?.hasError('pattern')">
                Solo se aceptan numeros
            </mat-error> 
        </mat-form-field>
        <mat-form-field class="input-form" appearance="fill">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email" autocomplete="off">
        </mat-form-field>

    </mat-dialog-content>

    <mat-dialog-actions align="end">
        <button type="button" mat-button cdkFocusInitial (click)="cancel()">Cancelar</button>
        <button type="submit"[disabled]="docenteForm.invalid" mat-button>Aceptar</button>
    </mat-dialog-actions>
</form>
