/* Structure */
table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
.contenedor{
  padding: 3em;
}
.form-control{
  margin-bottom: 1em;

}
label{
  display: block;
}

h2{
  margin-top: 1rem;
  font-size: 2.5rem;
}
h3{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
.form-button{
  background-color: cadetblue;
  padding: 0.7em 2em;
  margin-right:3em;
  border: 2px;
  cursor: pointer;
}
.container-create{
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-input {
  border: none;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  padding: 0.7em ;
  width: 20em;
  outline: none;
  
}
.icon{
  width: 1rem;
}

input:focus{
  background-color: bisque;
}