<mat-toolbar color="primary">
  <span>Listado Docente</span>
  <span class="spacer"></span>
</mat-toolbar>

<!-- <div class="container mat-elevation-z8">
  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Buscar docente">
    </mat-form-field>
  </div> -->
<div class="container">

  
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Búsqueda" #input>
  </mat-form-field>


  <button *ngIf="!isPreceptor" mat-raised-button (click)="addEditDocente()" class="demo-button">
    Agregar docente
  </button>
  <div class="container-table mat-elevation-z8">
    <!-- [class.isMobile]="isMobile" -->
    <mat-table #table [dataSource]="dataSource" >

  

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label"> Id: </span>
          {{element.id}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="dni">
        <mat-header-cell *matHeaderCellDef> D.N.I. </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">D.N.I.:</span>
          {{element.dni}}
        </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="apellido">
        <mat-header-cell *matHeaderCellDef> Apellido y Nombre </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Apellido y Nombre:</span>
          <span>{{element.apellido}}, {{element.nombre}}</span>
        </mat-cell>
      </ng-container>
      <!-- Weight Column -->
      <ng-container matColumnDef="fechaNacimiento">
        <mat-header-cell *matHeaderCellDef> Fecha de Nacimiento</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Fecha de Nacimiento:</span>
          <span>{{element.fecha_nacimiento | date:'dd/MM/yyyy'}}</span>
        </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="operaciones">
        <mat-header-cell *matHeaderCellDef> Operaciones </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="mobile-label">Operaciones:</span>
          <!-- <mat-icon (click)="viewDetail(element.id)">info_outline</mat-icon> -->
          <mat-icon *ngIf="!isPreceptor" (click)="delete(element.id)">delete_outline</mat-icon>
          <mat-icon *ngIf="!isPreceptor" (click)="addEditDocente(element.id)">edit_outline</mat-icon>
          
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</div>