
.container-table{
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 320px;
  
}


/* table {
  width: 100%;
} */

th.mat-sort-header-sorted {
  color: black;
}

.demo-button {
  margin-bottom: 15px;

}
/* Propiedades del componente filter */
.mat-form-field {
  width: 100%;
  margin-right: 0.4em;
}
.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}
.mat-icon {
  cursor: pointer;
  /* padding-left: 0.3em; */

}

/* td {
  padding: 2rem;
} */

.mobile-label {
  display: none;
}

@media(max-width: 600px) {
  .mobile-label {
    padding: 10px;
    width: 115px;
    display: inline-block;
    font-weight: bold;
    align-items: flex-start;
    margin-right: 10px;
    background-color: #7FFFD9;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .mat-cell{
    width: 290px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ACFFE6;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Structure
/* .container {
  display: flex;
  flex-direction: column;
} */

/* Toolbar */
/* .spacer {
  flex: 1 1 auto;
}

/* Filter 
.form {
  min-height: 56px;
  max-height: 56px;
  display: flex;
  align-items: center;
  padding: 8px 24px 0;
  font-size: 20px;
  justify-content: space-between;
  border-bottom: 1px solid transparent;
}

.mat-form-field {
  font-size: 14px;
  flex-grow: 1;
  margin-top: 8px;
}

.no-results {
  display: flex;
  justify-content: center;
  padding: 14px;
  font-size: 14px;
  font-style: italic;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1){
  flex: 0 0 6%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2){
  flex: 0 0 30%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3){
  flex: 0 0 6%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7){
  flex: 0 0 7%;
} */