<div class="body-home">
  <div class="container">
    <div class="pizarra">
      <h1>Anuncios 2023</h1>
      <div>

        <h2>Version 1.0.0</h2>
      <p>
        Los preceptores pueden consultar las ausencias de los docentes,y con en el boton de filtrado pueden buscarlo por Apellido o Nombre.<br>
        Los administrativos pueden cargar, borrar y/o modificar las novedades y docentes ingresados.
      </p>
      </div>
      <h2>Versión 1.0.1</h2>
      <h3>Correciones</h3>
      <p>
        Se notificará mediante mensaje flotante, si el usuario ingreso los datos de acceso incorrectamente.<br>
        Al ingresar credenciales validas, se visualizara un spinner de carga, mientras se carga la plataforma.
      </p>
    </div>
  </div>
</div>